<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content %}

        {% for msg in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
<strong>Hey!</strong>{{ msg }}
<button type="button" class="close" data-dismiss="alert" aria-label="Close">
 <span aria-hidden="true">&times;</span>
</button>
</div>
{% endfor %}
        <form action="" method="POST" enctype="multipart/form-data">
                   {% csrf_token %}
             <table>
                 <tr> <td>{{form.as_table}}</td></tr>
             </table>
             <input type="submit" value="UPDATE">
        </form>
    {% endblock %}